@import './public/FormReservation/view/FormReservation.css';
@import './public/ListRooms/view/ListRooms.css';
@import './public/FormRooms/view/FormRooms.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* colors */
  --primary-color: #6200EE;
  --letter-bg-color: #323B3C;
  --bg-color: #8c969718;
  --bg-color-light: #ffffff;
  --error-color: #B00020;
  --white-color: #FFF;
}

body {
  /* border: 1px solid cyan; */
  height: 100vh;
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--letter-bg-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* --header-- */
header {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  /* color: var(--bg-color); */
  background-color: var(--bg-color);
  position: fixed;
  width: 100%;
}

/* --content-- */
.content {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  margin-top: 50px;
  /* height: 100%; */
  background-color: var(--bg-color-light);
  height: 100%;
}

/*--Side Bar-*/
.side_bar {
  /* color: var(--bg-color); */
  background-color: var(--bg-color);
  padding: 2px;
  color: var(--letter-bg-color);

}
.Guest_Management {
  font-size: 30px;
  display: inline-grid;
  row-gap: 8px  ;
}
.Room_Management {
  font-size: 30px;
  display: inline-grid;
  row-gap: 8px;
}
button {
  background-color: rgb(201, 200, 200);
  padding: 10px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(148, 147, 147);
}
.filters{
  display: flex;
  column-gap: 130px;
  place-content: space-around;
  align-items: center;
}
select{
  width: 100px;
  /* color: var(--bg-color); */
  background-color: var(--bg-color);
  border: 1% solid; 
  border-radius: 2px;
  cursor: pointer;
}
.filterBy{
  display: -webkit-box;
  white-space: break-spaces;
}


/* --nav-- */
nav {
  padding: 1rem 2rem;
  width: 200px;
}

/* --main-- */
main {
  /* align-items: stretch; */
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 40px;
}
table{
  border-collapse: collapse;
  overflow-y:scroll;
   height:290px;
   display:block;
}
table thead th{
  color: var(--letter-bg-color);
  background-color: rgb(201, 200, 200);
  margin: 0px;
  border: 0px;
  padding: 20px;
  font-weight: 1000;
}
table tbody tr td{
  margin: 0px;
  border: 0px;
  padding: 10px;
  background-color: rgb(252, 249, 249);
}

table tbody tr:nth-child(even) td{
  background-color: rgb(236, 236, 236);
}