table thead th {
  padding: 3px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 25vw;
  background: white;
}
table td {
  text-align: center;
}

/* This styles are meant to style an empty list */
tbody {
  position: relative;
}

.no-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

/* .filterBy {
  border: 1px solid red;
} */