.room_form{
  border: 1px solid var(--bg-color);
  border-radius: 5px;
  padding: 3rem 4rem;
  width: 50%;
  max-width: 500px;
  background-color: var(--white-color);
  text-align: -webkit-center;
  position: sticky;
  top: 300px;
}
#form-room{
  height: 100vh;
}

.close_room_form{
  text-align: end;
  cursor: pointer;
}

#modal2{
  position: absolute;
  z-index: 1;
  align-self: center;
  height: 100vh;
  width: 85%;
  text-align: -webkit-center;
  display: none;
}